<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h1>Log in</h1>
          </div>
          <form action="#" method="post">

            <div class="form-group first">
              <input type="text" placeholder="Usuario" class="form-control" id="username">
            </div>
            
            <div class="form-group last mb-4">
              <input type="password" placeholder="Contraseña" class="form-control" id="password">
            </div>
            
            <div class="d-flex mb-5 align-items-center">
              <label class="control control--checkbox mb-0"><span class="caption">Recordarme</span>
                <input type="checkbox"/>
                <div class="control__indicator"></div>
              </label>
              <span class="ml-auto"><a href="#" class="forgot-pass">¿Olvidaste tu contraseña?</a></span> 
            </div>

            <button routerLink="/pagina-inicio" type="button" class="btn btn-primary btn-lg btn-block">Ingresar</button>

          </form>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
